PORT=3000
LINEAR_WEBHOOK_SECRET=your_linear_webhook_secret
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret
LINEAR_API_KEY=your_linear_api_key
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_OWNER=your_github_org_or_username
SOURCE_BRANCH=dev
TARGET_BRANCH=main
LINEAR_STATUS_TODO=Todo
LINEAR_STATUS_IN_PROGRESS=In Progress
LINEAR_STATUS_AI=AI
LINEAR_STATUS_REVIEW=Review
LINEAR_STATUS_DONE=Done
LINEAR_STATUS_AI_FAILED=Todo
